.mobileMenuBarBtnBlock{
    position: relative;
}
.mobileHeaderBlock {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Moblist {
    width: 100%;
    height: auto;
    margin-top:60px;
    padding: 0 25px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgb(234, 239, 252);
    transition: 0.5s ease;
}

.listMobileMenu {
    display: none;
    padding: 0;
    margin: 0;
    text-align: center;
    transition: all 0.5s ease;
}

.mobileNumber {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggleHeaderBtn {
    width:50px;
    height: auto;
    font-size: 40px;
    color: #FEB302;
    background-color:rgb(234, 239, 252);
    border: none;
    display: block;
}

.listMobileItem{
    list-style: none;
    margin-bottom: 15px;
}