.sidebarBlock{
    margin-left: 50px;
    margin-right: 25px;
}

.sidebarList {
    width: 391px;
    height: auto;
    margin: 0;
    padding: 46px;
    background: rgba(83, 141, 255, 0.05);
    border-radius: 25px;
}

.sidebarItem {
    margin-bottom: 26px;
    list-style: none;
}

.sidebarItem:last-child{
    margin-bottom: 0;
}
.sidebarTitle {
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
}

.sidebarBtn {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
    cursor: pointer;
}
